<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- 目标对象 -->
	<bean id="Dog" class="com.lumlb.spring.fromNet.springAop.byCglibProxy.Dog"></bean>
	
	<!-- 配置通知 -->
	<bean id="before" class="com.lumlb.spring.fromNet.springAop.byCglibProxy.MethodBefore"></bean>
	<bean id="after" class="com.lumlb.spring.fromNet.springAop.byCglibProxy.MethodAfter"></bean>
	
	
	<!-- 为目标对象产生代理对象 -->
	<bean id="dogProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
		<!-- 通过setter方法注入：为指定的目标对象产生代理  -->
		<property name="target" ref="Dog"/>
		<!--  指定拦截器（通知）  --> 
        <property name="interceptorNames">  
            <list>  
                <value>after</value>  
                <value>before</value>  
            </list>  
        </property>  
	</bean>
	<!-- 
		注释：产生的代理对象被转换成了目标对象，可以猜测，代理对象继承了目标对象。
	-->
	
</beans>