<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- 目标对象 -->
	<bean id="userService" class="com.lumlb.spring.springAOP.auto.defaultAdvisorAutoProxyCreator.UserService"/>
	
	<!-- 通知 -->
	<bean id="myAdvice" class="com.lumlb.spring.springAOP.auto.defaultAdvisorAutoProxyCreator.MyAdvice"/>
	
	<!-- 配置一个正则表达切点切面 -->
	<bean id="regexpMethodPointcutAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
		<property name="advice" ref="myAdvice"/>
		<property name="patterns" value=".*save.*"/>
	</bean>
	
	<!-- 配置自动代理 -->
	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>
</beans>