<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须在当前项目中是唯一的 -->
<mapper namespace="com.luml.mybatis1.domain.Book">
	<!-- 配置结果映射，将数据表中的字段和类中的属性进行映射 -->
	<resultMap type="com.luml.mybatis1.domain.Book" id="bookMap">
		<id column="id" property="id"/>
		<result column="bookName" property="name"/>
		<result column="bookPrice" property="price"/>
	</resultMap>

	<!-- select标签中的sql为查询语句 -->
	<!-- 
		id:为当前sql的唯一标识
		parameterType:参数类型
		resultType:结果类型
	 -->
	<select id="selectBookById" parameterType="string" resultType="Book">
		select id,bookName as name,bookPrice as price from mybaits_book where id = #{id}
	</select>
	
	<select id="selectBookById2" parameterType="string" resultMap="bookMap">
		select * from mybaits_book where id = #{id}
	</select>
	
	<!-- 将查询结果包装成map类型的对象返回  -->
	<select id="selectBookById4Map" parameterType="string" resultType="hashmap">
		select * from mybaits_book where id = #{id}
	</select>
	
	<!-- 插入数据 -->
	<insert id="saveBook4Map" parameterType="hashmap">
		insert into mybaits_book(id,bookName,bookPrice)
			values (#{id},#{name},#{price})
	</insert>
</mapper>